@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron main-jumbo">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple website for adding test Events to EventStore</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="eventstore/addevent" role="button">Add Event</a>
  </p>
</div>